@use "variable" as v;
@use "common" as c;
/*************************************************
archive
*************************************************/
.contents-wrap {
  position: relative;
  padding: v.pxtovw(125) 0 v.pxtovw(120);
  background-color: v.$bg-color01;
  @include c.mq() {
    padding: v.pxtovw_sp(102) 0;
    overflow: hidden;
  }
  .inner {
    @include c.flex(start, start);
    position: relative;
    z-index: 1;
  }
  aside {
    width: 100%;
    max-width: v.pxtovw(492);
    flex-shrink: 0;
  }
  .main-contents {
    flex-grow: 1;
  }
}

aside {
  align-self: stretch;
  @include c.mq() {
    display: none;
  }
  .side-warp {
    position: sticky;
    top: 4rem;
    > .img-box {
      width: v.pxtovw(366);
      margin-left: v.pxtovw(-79);
    }
  }
  .ttl-wrap {
    margin-bottom: v.pxtovw(46);
    h2 {
      font-size: v.pxtovw(70);
      text-align: left;
      margin-bottom: v.pxtovw(10);
    }
    .sub-ttl {
      font-size: clamp(1.3rem, v.pxtovw(22), 2.2rem);
      color: v.$txt-color;
      text-align: left;
    }
  }
  .cate-list {
    margin-bottom: v.pxtovw(61);
    ul {
      padding-top: v.pxtovw(66);
      padding-left: v.pxtovw(47);
      border-left: 1px solid #707070;
      li {
        margin-bottom: v.pxtovw(25);
        &:last-of-type {
          margin-bottom: 0;
        }
        a {
          position: relative;
          padding-left: v.pxtovw(50);
          font-family: "Unbounded", sans-serif;
          font-size: clamp(1.5rem, v.pxtovw(22), 2.2rem);
          font-weight: 400;
          transition: all 0.3s;
          &:hover {
            color: v.$sub-color01;
            &::before {
              border: 1px solid v.$sub-color01;
            }
          }
          &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            content: "";
            width: v.pxtovw(20);
            aspect-ratio: 1/1;
            border: 1px solid v.$txt-color;
            transition: all 0.3s;
          }
          &.active {
            color: v.$sub-color01;
            &::before {
              border: 1px solid v.$sub-color01;
            }
          }
        }
      }
    }
  }
}

.main-contents {
  @include c.mq() {
    width: 100%;
  }
  .cate-acord_wrap {
    @include c.mq() {
      margin-bottom: v.pxtovw_sp(83);
    }
    .ttl-wrap {
      @include c.mq() {
        margin-bottom: v.pxtovw_sp(40);
      }
      h2 {
        @include c.mq() {
          font-size: clamp(2rem, v.pxtovw_sp(60), 6rem);
        }
      }
    }
    .cate-acord {
      @include c.mq() {
        background-color: v.$bg-color03;
        border-radius: v.pxtovw_sp(10);
        border: 1px solid v.$txt-color;
      }
      p,
      a {
        font-family: "Unbounded", sans-serif;
        font-weight: 400;
        text-align: center;
      }
      p {
        @include c.mq() {
          position: relative;
          padding: v.pxtovw_sp(24) 0;
          color: v.$sub-color01;
        }
        svg {
          @include c.mq() {
            width: v.pxtovw_sp(15);
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
            right: v.pxtovw_sp(38);
            transition: all 0.3s;
          }
          path {
            @include c.mq() {
              fill: #626262;
            }
          }
        }
        &.open {
          svg {
            @include c.mq() {
              transform: translateY(-50%) rotate(-90deg);
            }
          }
        }
      }
      ul {
        li {
          @include c.mq() {
            padding: v.pxtovw_sp(22) 0 v.pxtovw_sp(26);
            border-top: 1px dashed #707070;
          }
          &:last-of-type {
            @include c.mq() {
              margin-bottom: 0;
            }
          }
          a {
            @include c.mq() {
              display: block;
            }
          }
        }
      }
    }
  }
  .archive-list {
    position: relative;
    max-width: clamp(50rem, v.pxtovw(850), 85rem);
    @include c.mq() {
      max-width: none;
    }
    .circle {
      position: absolute;
      @include c.center(true, true);
      width: v.pxtovw(1000);
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: v.$sub-color02;
      opacity: 0.1;
      @include c.mq() {
        display: none;
      }
    }
    dl {
      position: relative;
      padding: v.pxtovw(50) 0;
      margin-bottom: 0;
      @include c.mq() {
        padding-bottom: v.pxtovw_sp(68);
      }
      &:first-of-type {
        padding-top: 0;
      }
      &:not(:last-of-type) {
        &::before {
          @include c.mq() {
            display: none;
          }
        }
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-image: repeating-linear-gradient(
          to right,
          #707070 0,
          #707070 2px,
          transparent 2px,
          transparent 4px
        );
      }
    }
  }
}

.archive_wrap,
.single_wrap {
  > .img-box {
    position: absolute;
    &.logomark {
      width: v.pxtovw(1123);
      aspect-ratio: 1/0.38;
      top: v.pxtovw(-80);
      left: v.pxtovw(-97);
      @include c.mq() {
        width: v.pxtovw_sp(807);
        top: v.pxtovw_sp(25);
        left: v.pxtovw_sp(-55);
      }
    }
    &.vertical-txt {
      width: v.pxtovw(213);
      top: v.pxtovw(340);
      right: 0;
      @include c.mq() {
        width: v.pxtovw_sp(213);
        top: v.pxtovw_sp(591);
        right: v.pxtovw_sp(-32);
      }
    }
  }
}

.single_wrap {
  > .img-box {
    &.vertical-txt {
      @include c.mq() {
        display: none;
      }
    }
  }
}
