@use "variable" as v;
@use "common" as c;
/*************************************************
component
*************************************************/
.sub-ttl {
  position: relative;
  font-family: "Lora", serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: v.$ttlTxt-color;
  @include c.mq() {
    font-size: 1.4rem;
    margin-left: 0.6rem;
  }
  &::before {
    position: absolute;
    top: -1rem;
    left: -1rem;
    content: "";
    width: 8px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: v.$gradient01;
    filter: blur(1.5px);
  }
}

.btn-wrap {
  .btn01 {
    position: relative;
    @include c.flex(center, center);
    gap: 1rem;
    width: 27.1rem;
    aspect-ratio: 1/0.22;
    border-radius: 6px;
    font-size: 1.8rem;
    transition: all 0.3s;
    span {
      @include c.flex(center, center);
      border-radius: 15px;
      background-color: #cfc1b8;
      width: 2.4rem;
      height: 1.4rem;
      border-radius: 14px;
      transition: all 0.3s;
      svg {
        path {
          fill: v.$ttlTxt-color;
          transition: all 0.3s;
        }
      }
    }
    &.white {
      background-color: #fff;
      color: v.$ttlTxt-color;
      border: 2px solid #fff;
    }
    &.brown {
      background-color: v.$ttlTxt-color;
      color: #fff;
      border: 2px solid v.$ttlTxt-color;
    }
    &:hover {
      &.white {
        background-color: v.$ttlTxt-color;
        color: #fff;
        span {
          background-color: #fff;
        }
      }
      &.brown {
        background-color: #fff;
        color: v.$ttlTxt-color;
      }
    }
  }
  .btn02 {
    @include c.flex(start, center);
    gap: 1rem;
    span {
      @include c.flex(center, center);
      width: 2.4rem;
      height: 1.4rem;
      background-color: #cfc1b8;
      border-radius: 14px;
      transition: all 0.3s;
    }
    svg {
      path {
        fill: v.$ttlTxt-color;
        transition: all 0.3s;
      }
    }
    &:hover {
      span {
        background-color: v.$ttlTxt-color;
        transform: translateX(1rem);
        scale: 1.1;
      }
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
  .btn03 {
    @include c.flex(center, center);
    gap: 1.2rem;
    font-family: "Noto Serif JP", serif;
    font-size: 1.3rem;
    color: v.$ttlTxt-color;
    transition: all 0.3s;
    span {
      @include c.flex(center, center);
      padding-bottom: 1rem;
      padding-right: 1rem;
      width: 10rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background: url(../images/grade-noise.svg) no-repeat center/cover;
      transition: all 0.3s;
      svg {
        transition: all 0.3s;
      }
    }
    &:hover {
      gap: 6rem;
      span {
        transform: scale(1.8);
        & > * {
          transform: scale(0.5556);
        }
      }
    }
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  @include c.flex(center, center);
  width: 2.4rem;
  height: 1.4rem;
  background-color: v.$ttlTxt-color;
  border-radius: 14px;
}

#common-info {
  position: relative;
  overflow: hidden;
  z-index: 0;
  .inner {
    max-width: 100rem;
    padding: 9.2rem 0 4.5rem;
    @include c.mq() {
      padding: 9.2rem 0 9.6rem;
    }
  }
  .block {
    gap: 5rem;
    @include c.mq() {
      flex-direction: column;
      gap: 4rem;
    }
    .left {
      flex-grow: 1;
      .logo {
        width: 36.3rem;
        margin: 0 auto 5px;
        @include c.mq() {
          width: v.pxtovw_sp(240);
          max-width: 35rem;
          margin-bottom: 2rem;
        }
      }
      p {
        text-align: center;
      }
      .address {
        margin-bottom: 3rem;
        @include c.mq() {
          margin-bottom: 3rem;
        }
      }
      .contact {
        .tel {
          margin-bottom: 2rem;
          p {
            font-weight: 500;
          }
          a {
            font-size: 3.2rem;
            letter-spacing: 0.7px;
            @include c.flex(center, center);
            gap: 1rem;
            @include c.mq() {
              font-size: 2.4rem;
            }
            .small {
              font-size: 2rem;
              @include c.mq() {
                font-size: 1.5rem;
              }
            }
            .underline {
              text-decoration: underline;
              text-decoration-thickness: 2px;
            }
          }
        }
        .mail {
          width: 100%;
          aspect-ratio: 1/0.13;
          border-radius: 6px;
          background-color: v.$ttlTxt-color;
          margin-bottom: 2.8rem;
          position: relative;
          overflow: hidden;
          transition: background-color 0.3s ease;
          z-index: 0;
          transition: all 0.3s ease;
          @include c.mq() {
            aspect-ratio: 1/0.15;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: v.$txt-color;
            transition: left 0.3s ease;
            z-index: 0;
          }
          &:hover {
            scale: 0.95;
            &::before {
              left: 0;
            }
          }
          span,
          svg {
            position: relative;
            z-index: 1;
          }
          a {
            position: relative;
            @include c.flex(center, center);
            width: 100%;
            height: 100%;
            gap: 1rem;
            font-size: 1.8rem;
            font-weight: 500;
            color: #fff;
            z-index: 1;
            @include c.mq() {
              font-size: 1.6rem;
            }
          }
        }
      }
      .business_hours {
        background-color: #fff;
        padding: 1rem 3rem 2rem;
        @include c.mq() {
          padding: 1rem 1.5rem 2rem;
        }
        dl {
          display: flex;
          justify-content: space-around;
          align-items: center;
          border-bottom: 1px solid #c1bbb4;
          padding: 1.2rem 0;
          @include c.mq() {
            padding: 1rem 0;
          }
          dt,
          dd {
            font-size: 1.4rem;
            text-align: center;
            @include c.mq() {
              font-size: 1.3rem;
            }
          }
          dt {
            width: 30%;
            @include c.mq() {
              width: 16%;
              text-align: left;
              line-height: 1.4;
            }
          }
          dd {
            width: 7%;
          }
          &.bn_item {
            dd {
              font-size: 2.4rem;
              line-height: 1;
              color: v.$ttlTxt-color;
            }
          }
          &:last-of-type {
            margin-bottom: 1rem;
          }
        }
        .note {
          text-align: left;
          span {
            display: inline-block;
            padding: 2px 6px;
            background-color: #e9e2de;
            margin-right: 1rem;
          }
        }
      }
    }
    .right {
      width: 50rem;
      aspect-ratio: 1/1;
      height: 100%;
      flex-shrink: 0;
      @include c.mq() {
        width: 100%;
        max-height: 40rem;
      }
      iframe {
        margin-bottom: 1.5rem;
      }
      p {
        text-align: center;
        color: v.$ttlTxt-color;
      }
    }
  }
  .obj-bluer {
    position: absolute;
    left: -22rem;
    bottom: -18rem;
    width: 90rem;
    aspect-ratio: 1/0.63;
    background: url(../images/common-info_obj.svg) no-repeat center/contain;
    z-index: -1;
  }
  &.under {
    margin-top: 20rem;
    background: v.$bg-color01;
    @include c.mq() {
      margin-top: 8rem;
    }
  }
}
