@use "variable" as v;
@use "common" as c;
/*************************************************
footer
*************************************************/
footer {
  position: relative;
  background-color: #1d1d1d;
  overflow: hidden;
  z-index: 1;
  .inner {
    position: relative;
    max-width: v.pxtovw(1623);
    @include c.mq() {
      max-width: v.pxtovw_sp(629);
    }
  }
  .back-top {
    border-bottom: 1px solid #fff;
    margin-bottom: v.pxtovw(55);
    a {
      display: block;
      padding: v.pxtovw(25) 0;
      font-family: "Unbounded", sans-serif;
      font-size: clamp(1.4rem, v.pxtovw(20), 2rem);
      text-align: center;
      color: #fff;
      @include c.mq() {
        padding: v.pxtovw_sp(45) 0;
        font-size: v.pxtovw_sp(20);
      }
    }
  }
  .footer-columns {
    @include c.flex(between, center);
    padding-bottom: v.pxtovw(80);
    @include c.mq() {
      flex-direction: column-reverse;
      padding-bottom: v.pxtovw_sp(73);
    }
    .col01 {
      @include c.mq() {
        @include c.flex(start, center);
        gap: v.pxtovw_sp(125);
        border-top: 1px solid #fff;
        padding-top: v.pxtovw_sp(73);
      }
      .logo {
        width: v.pxtovw(172);
        margin-bottom: v.pxtovw(40);
        @include c.mq() {
          width: v.pxtovw_sp(172);
          flex-shrink: 0;
        }
      }
      > div {
        @include c.mq() {
          flex-grow: 1;
        }
      }
      p {
        font-size: 1.4rem;
        color: #fff;
        margin-bottom: 2.5rem;
        @include c.mq() {
          font-size: v.pxtovw_sp(22);
          letter-spacing: 1px;
        }
        &:last-of-type {
          font-size: clamp(1.4rem, v.pxtovw(16), 1.6rem);
          margin-bottom: 0;
          @include c.mq() {
            font-size: v.pxtovw_sp(24);
          }
        }
      }
    }
    .col02 {
      position: relative;
      margin-right: v.pxtovw(108);
      z-index: 1;
      @include c.mq() {
        padding: v.pxtovw_sp(60) 0;
      }
      nav {
        ul {
          display: flex;
          row-gap: v.pxtovw(29);
          column-gap: v.pxtovw(125);
          flex-direction: column;
          flex-wrap: wrap;
          height: 15rem;
          @include c.mq() {
            row-gap: v.pxtovw_sp(49);
            column-gap: v.pxtovw_sp(160);
            height: v.pxtovw_sp(350);
          }
          li {
            a {
              font-size: clamp(1.4rem, v.pxtovw(16), 1.6rem);
              color: #fff;
              transition: all 0.3s;
              @include c.mq() {
                font-size: v.pxtovw_sp(24);
              }
              &:hover {
                color: v.$sub-color01;
              }
            }
          }
        }
      }
    }
  }
  .copy {
    position: relative;
    background-color: #404040;
    font-family: "Unbounded", sans-serif;
    text-align: center;
    color: #fff;
    padding: 1rem 0;
    z-index: 1;
    @include c.mq() {
      font-size: v.pxtovw_sp(20);
      font-weight: 400;
    }
  }
  .big-pig {
    position: absolute;
    bottom: v.pxtovw(-180);
    right: v.pxtovw(-120);
    font-family: "Unbounded", sans-serif;
    font-size: v.pxtovw(527);
    font-weight: 400;
    color: #fff;
    opacity: 0.03;
    @include c.mq() {
      font-size: v.pxtovw_sp(362);
      bottom: v.pxtovw_sp(440);
      right: v.pxtovw_sp(-60);
    }
  }
}
