@use "variable" as v;
@use "common" as c;
/*************************************************
header
*************************************************/
header {
  transition: all 0.3s;
  @include c.mq(md) {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .header-inner {
    width: v.pxtovw(1320);
    @include c.flex(between, center);
    padding: 1.6rem 0;
    margin: 0 auto;
    @include c.mq() {
      width: v.pxtovw_sp(335);
      padding: 2.2rem 0 0;
    }
    .logo {
      width: clamp(20rem, v.pxtovw(270), 27rem);
      @include c.mq() {
        width: v.pxtovw_sp(219);
      }
    }
    nav {
      @include c.mq(md) {
        display: none;
      }
      > ul {
        @include c.flex(center, center);
        gap: v.pxtovw(40);
        > li {
          position: relative;
          padding-bottom: 5px;
          transition: all 0.3s;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            border-radius: 2px;
            background-color: v.$ttlTxt-color;
            transition: width 0.3s ease;
          }
          &:hover::after {
            width: 100%;
          }
          &:not(:has(> a)) {
            display: flex;
            display: flex;
            align-items: center;
            gap: 5px;
            flex-direction: column;
            font-size: clamp(1.2rem, v.pxtovw(14), 1.6rem);
            font-weight: 500;
            img {
              width: 4rem;
            }
          }
          > a {
            display: flex;
            align-items: center;
            gap: 5px;
            flex-direction: column;
            font-size: clamp(1.2rem, v.pxtovw(14), 1.6rem);
            font-weight: 500;
            img {
              width: 4rem;
            }
          }
          ul {
            position: absolute;
            top: 100%;
            left: 0;
            width: 20rem;
            padding: 2rem;
            background-color: #e9e2de;
            border-radius: 3px;
            z-index: 10;
            transition: all 0.3s;
            opacity: 0;
            visibility: hidden;
            li {
              margin-bottom: 1rem;
              &:last-of-type {
                margin-bottom: 0;
              }
              a {
                @include c.flex(start, center);
                gap: 1rem;
                line-height: 1.4;
                svg {
                  flex-shrink: 0;
                  path {
                    fill: v.$txt-color;
                  }
                }
              }
            }
          }
          &:hover {
            ul {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
    .contact {
      @include c.mq(md) {
        display: none;
      }
      .tel {
        a {
          font-size: clamp(2.2rem, v.pxtovw(32), 3.2rem);
          letter-spacing: 0.7px;
          @include c.flex(start, center);
          gap: 1rem;
          span {
            font-size: clamp(1.4rem, v.pxtovw(20), 2rem);
          }
        }
      }
      .mail {
        width: clamp(20rem, v.pxtovw(271), 27.1rem);
        aspect-ratio: 1/0.22;
        border-radius: 6px;
        background-color: v.$ttlTxt-color;
        position: relative;
        overflow: hidden;
        transition: background-color 0.3s ease;
        z-index: 0;
        transition: all 0.3s ease;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100%;
          background-color: v.$txt-color;
          transition: left 0.3s ease;
          z-index: 0;
        }
        &:hover {
          scale: 0.95;
          &::before {
            left: 0;
          }
        }
        span,
        svg {
          position: relative;
          z-index: 1;
        }
        a {
          position: relative;
          @include c.flex(center, center);
          width: 100%;
          height: 100%;
          gap: clamp(0.5rem, v.pxtovw(10), 1rem);
          font-size: 1.8rem;
          font-size: clamp(1.4rem, v.pxtovw(18), 1.8rem);
          font-weight: 500;
          color: #fff;
          z-index: 1;
        }
      }
      // .mail {
      //   a {
      //     @include c.flex(center, center);
      //     gap: 1rem;
      //     width: 27.1rem;
      //     aspect-ratio: 1/0.22;
      //     border-radius: 6px;
      //     background-color: v.$ttlTxt-color;
      //     font-size: 1.8rem;
      //     font-weight: 500;
      //     color: #fff;
      //   }
      // }
    }
  }
  .is_fix {
    display: none;
  }
  &.fixed,
  &.is-drawermenu-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(#311d04, 0.05);
    z-index: 999;
    .header-inner {
      padding: 1rem 0 1.4rem;
      @include c.mq() {
        padding: 1.5rem 0 1rem;
      }
      nav {
        > ul {
          padding-top: 1rem;
        }
      }
      .contact {
        .tel {
          a {
            font-size: 2.4rem;
            line-height: 1.5;
            letter-spacing: 0.5px;
            span {
              font-size: 1.6rem;
            }
          }
        }
        .mail {
          width: 21rem;
          a {
            @include c.flex(center, center);
            gap: 1rem;
            font-size: 1.4rem;
          }
        }
      }
    }
    .is_top {
      display: none;
    }
    .is_fix {
      display: block;
    }
  }
}

//ハンバーガーボタン
.hamberger-wrap {
  @include c.flex(center, center);
  width: 4.8rem;
  aspect-ratio: 1/1;
  border-radius: 3px;
  background-color: v.$ttlTxt-color;
  display: none;
  @include c.mq(md) {
    display: flex;
  }
  .ham-inner {
    @include c.flex(start, center);
    flex-direction: column;
  }
  &.is-ham-open {
    .hambager {
      .c-line {
        // background-color: #000;
        &:first-of-type {
          animation: line1-open var(--navTransition) forwards;
        }
        &:nth-of-type(2) {
          animation: line2-open var(--navTransition) forwards;
        }
        &:last-of-type {
          animation: line3-open var(--navTransition) forwards;
        }
      }
    }
  }
}
.hambager-content {
  position: relative;
  width: 3.2rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
:root {
  --navTransition: 0.4s;
}
.hambager {
  // width: 2.9rem;
  // height: 1.6rem;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  cursor: pointer;
  .c-line {
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    @include c.mq() {
      width: 100%;
    }
    &:first-of-type {
      top: 0;
      animation: line1 var(--navTransition) forwards;
    }
    &:nth-of-type(2) {
      top: 50%;
      animation: line2 var(--navTransition) forwards;
    }
    &:last-of-type {
      top: 100%;
      animation: line3 var(--navTransition) forwards;
    }
  }
}

@keyframes line1 {
  0% {
    top: 50%;
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(0);
    top: 0;
  }
}
@keyframes line1-open {
  0% {
    transform: rotate(0);
    top: 0;
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    top: 50%;
    transform: rotate(45deg);
  }
}
@keyframes line2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes line2-open {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes line3 {
  0% {
    top: 50%;
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(0);
    top: 100%;
  }
}
@keyframes line3-open {
  0% {
    transform: rotate(0);
    top: 100%;
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    top: 50%;
    transform: rotate(-45deg);
  }
}

.drawer-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100svh;
  padding-top: 9rem;
  transform: translateX(100%);
  background-color: rgba($color: #fff, $alpha: 0.7);
  backdrop-filter: blur(12px);
  overflow: scroll;
  z-index: 998;
  transition: all 0.3s;
  &.is-drawermenu-open {
    transform: translateX(0);
  }
  .drawer-menu_inner {
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;
  }
  .nav-wrap {
    margin-bottom: 3rem;
    nav {
      > ul {
        > li {
          position: relative;
          padding: 1.5rem 0;
          border-bottom: 1px solid #e0ddd9;
          svg {
            position: absolute;
            top: 2rem;
            right: 1rem;
            transition: all 0.3s;
          }
          img {
            width: 3rem;
            margin-top: -5px;
            margin-right: 1rem;
          }
          > a {
            display: block;
            width: 100%;
            height: 100%;
            img {
              width: 3rem;
            }
          }
          ul {
            background-color: #e9e2e0;
            margin-top: 1.5rem;
            li {
              border-bottom: 1px solid #fff;
              :last-of-type {
                margin-bottom: 0;
              }
              a {
                @include c.flex(start, center);
                width: 100%;
                height: 100%;
                line-height: 1.6;
                padding: 1.5rem;
              }
            }
          }
          &.open {
            svg {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
  .contact {
    .tel {
      margin-bottom: 1rem;
      p {
        font-size: 1.3rem;
        font-weight: 500;
        text-align: center;
      }
      a {
        font-size: 2.4rem;
        letter-spacing: 0.7px;
        @include c.flex(center, center);
        gap: 1rem;
        span {
          font-size: 1.5rem;
        }
      }
    }
    .mail {
      margin-bottom: 2.8rem;
      a {
        @include c.flex(center, center);
        gap: 1rem;
        width: 100%;
        aspect-ratio: 1/0.15;
        border-radius: 6px;
        background-color: v.$ttlTxt-color;
        font-size: 1.6rem;
        font-weight: 500;
        color: #fff;
      }
    }
  }
}
