@use "variable" as v;
@use "common" as c;
/*************************************************
header
*************************************************/
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  .header-inner {
    @include c.flex(between, start);
    padding: v.pxtovw(28) v.pxtovw(40) 1rem v.pxtovw(60);
    @include c.mq() {
      padding: v.pxtovw_sp(42) v.pxtovw(52) 1rem v.pxtovw_sp(32);
    }

    .logo {
      width: clamp(9rem, v.pxtovw(180), 18rem);
      @include c.mq(md-s) {
        width: v.pxtovw_sp(100);
      }
      @include c.mq() {
        width: v.pxtovw_sp(180);
      }
    }

    .navigation {
      @include c.flex(center, center);
      gap: v.pxtovw(42);
    }
    nav {
      @include c.mq(md-s) {
        display: none;
      }
      ul {
        @include c.flex(center, center);
        gap: v.pxtovw(33);
        li {
          a {
            font-family: "Unbounded", sans-serif;
            font-size: clamp(1.3rem, v.pxtovw(18), 1.8rem);
            font-weight: 400;
            letter-spacing: 0.5px;
            color: #fff;
            transition: all 0.3s;
            position: relative;
            &:hover {
              color: v.$sub-color01;
            }
            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -4px;
              width: 0;
              height: 2px;
              background: v.$sub-color01;
              transition: width 0.3s;
            }
            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
    .btn-area {
      display: flex;
      gap: v.pxtovw(22);
      @include c.mq(md-s) {
        display: none;
      }
      .btn {
        width: clamp(14rem, v.pxtovw(188), 18.8rem);
        aspect-ratio: 1/0.29;
        svg {
          width: clamp(0.7rem, v.pxtovw(10), 1rem);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 1.5rem;
        }
      }
      .btn-insta {
        position: relative;
      }
    }
  }
}

//ハンバーガーボタン
.hamberger-wrap {
  display: none;
  @include c.mq(md-s) {
    display: block;
    position: fixed;
    top: v.pxtovw_sp(15);
    right: v.pxtovw_sp(25);
    z-index: 1000;
  }
  @include c.mq() {
    top: v.pxtovw_sp(72);
    right: v.pxtovw_sp(54);
  }
  .ham-inner {
    @include c.flex(center, center);
    gap: v.pxtovw_sp(15);
    @include c.mq() {
      gap: v.pxtovw_sp(20);
    }
    > p {
      font-family: "Unbounded", sans-serif;
      font-size: v.pxtovw_sp(18);
      font-weight: 400;
      color: #fff;
      @include c.mq() {
        font-size: v.pxtovw_sp(26);
      }
    }
  }
  &.is-ham-open {
    .hambager {
      .c-line {
        // background-color: #000;
        &:first-of-type {
          animation: line1-open var(--navTransition) forwards;
        }
        &:nth-of-type(2) {
          animation: line2-open var(--navTransition) forwards;
        }
        &:last-of-type {
          animation: line3-open var(--navTransition) forwards;
        }
      }
    }
  }
}
.hambager-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
:root {
  --navTransition: 0.4s;
}
.hambager {
  width: v.pxtovw_sp(40);
  height: v.pxtovw_sp(25);
  position: relative;
  display: block;
  cursor: pointer;
  @include c.mq() {
    width: v.pxtovw_sp(48);
    height: v.pxtovw_sp(30);
  }
  .c-line {
    height: v.pxtovw_sp(3);
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 100vmax;
    @include c.mq() {
      width: 100%;
      height: v.pxtovw_sp(5);
    }
    &:first-of-type {
      top: 0;
      animation: line1 var(--navTransition) forwards;
    }
    &:nth-of-type(2) {
      top: 50%;
      animation: line2 var(--navTransition) forwards;
    }
    &:last-of-type {
      top: 100%;
      animation: line3 var(--navTransition) forwards;
    }
  }
}

@keyframes line1 {
  0% {
    top: 50%;
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(0);
    top: 0;
  }
}
@keyframes line1-open {
  0% {
    transform: rotate(0);
    top: 0;
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    top: 50%;
    transform: rotate(45deg);
  }
}
@keyframes line2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes line2-open {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes line3 {
  0% {
    top: 50%;
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(0);
    top: 100%;
  }
}
@keyframes line3-open {
  0% {
    transform: rotate(0);
    top: 100%;
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    top: 50%;
    transform: rotate(-45deg);
  }
}

.drawer-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100svh;
  padding-top: v.pxtovw_sp(120);
  transform: translateX(100%);
  background-color: v.$sub-color01;
  backdrop-filter: blur(12px);
  overflow: scroll;
  z-index: 998;
  transition: all 0.3s;
  @include c.mq() {
    padding-top: v.pxtovw_sp(194);
  }
  &.is-drawermenu-open {
    transform: translateX(0);
  }
  .drawer-menu_inner {
    position: relative;
    max-width: v.pxtovw_sp(450);
    height: calc(100vh - v.pxtovw_sp(194));
    overflow-y: scroll;
    margin: 0 auto;
    z-index: 999;
    @include c.mq() {
      max-width: v.pxtovw_sp(629);
      height: calc(100vh - v.pxtovw_sp(194));
    }
  }
  .links {
    width: 100%;
    margin-bottom: v.pxtovw_sp(30);
    .btn {
      position: relative;
      font-size: v.pxtovw_sp(20);
      width: 100%;
      aspect-ratio: 1/0.16;
      border-radius: v.pxtovw_sp(20);
      @include c.mq() {
        font-size: v.pxtovw_sp(30);
      }
      &:last-of-type {
        margin-top: 1.8rem;
      }
      img {
        width: v.pxtovw_sp(19);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: v.pxtovw_sp(35);
        transition: all 0.3s;
      }
    }
    .insta_accordion-trigger {
      img {
        width: v.pxtovw_sp(29);
      }
      .bg-arow {
        content: "";
        width: v.pxtovw_sp(29);
        aspect-ratio: 1/1;
        background: url(images/common/icon-arrow03_r-down.svg) no-repeat
          center/contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: v.pxtovw_sp(35);
        transition: all 0.3s;
      }
      &.open {
        .bg-arow {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
    .accordion-content {
      margin-top: v.pxtovw_sp(20);
      padding: v.pxtovw_sp(30);
      background-color: v.$bg-color03;
      border-radius: v.pxtovw_sp(20);
      .instagram-accounts {
        overflow: hidden;
      }
      .stores {
        margin-bottom: v.pxtovw_sp(50);
        &:last-of-type {
          .links {
            margin-bottom: 0;
          }
        }
        p,
        a {
          color: v.$sub-color01;
        }
        &.pigsty {
          p {
            &::after {
              width: v.pxtovw_sp(380);
            }
          }
        }
        &.pig_az {
          p {
            &::after {
              width: v.pxtovw_sp(200);
            }
          }
        }
        &.vivie {
          p {
            &::after {
              width: v.pxtovw_sp(400);
            }
          }
        }
        &.changes {
          p {
            &::after {
              width: v.pxtovw_sp(340);
            }
          }
        }
        &.whole {
          margin-bottom: 0;
          p {
            &::after {
              width: v.pxtovw_sp(300);
            }
          }
        }
        p {
          position: relative;
          display: inline-flex;
          align-items: center;
          gap: v.pxtovw_sp(15);
          font-family: "Unbounded", sans-serif;
          font-size: v.pxtovw_sp(24);
          margin-bottom: v.pxtovw_sp(15);
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: calc(100% + v.pxtovw_sp(20));
            height: 1px;
            background-color: v.$sub-color01;
          }
          img {
            width: v.pxtovw_sp(28);
          }
        }
        .links {
          padding-left: v.pxtovw_sp(40);
          @include c.flex(start, center);
          flex-wrap: wrap;
          column-gap: v.pxtovw_sp(25);
          row-gap: v.pxtovw_sp(5);
          a {
            font-size: clamp(1.4rem, v.pxtovw_sp(16), 1.6rem);
            text-decoration: underline;
          }
        }
      }
    }
  }
  .nav-wrap {
    margin-bottom: v.pxtovw_sp(50);
    @include c.mq() {
      margin-bottom: v.pxtovw_sp(75);
    }
    nav {
      li {
        border-bottom: 1px solid #fff;
        a {
          position: relative;
          @include c.flex(between, center);
          padding: v.pxtovw_sp(28) 0;
          padding-right: v.pxtovw_sp(60);
          font-family: "Unbounded", sans-serif;
          font-weight: 400;
          font-size: v.pxtovw_sp(26);
          color: #fff;
          @include c.mq() {
            font-size: v.pxtovw_sp(38);
          }
          span {
            font-family: "Noto Sans JP", sans-serif;
            font-size: v.pxtovw_sp(16);
            font-weight: 500;
            @include c.mq() {
              font-size: v.pxtovw_sp(22);
            }
          }
          svg {
            width: v.pxtovw_sp(19);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
          }
        }
      }
    }
  }
  .contact {
    margin-bottom: v.pxtovw_sp(55);
    a {
      position: relative;
      @include c.flex(start, center);
      background-color: v.$bg-color03;
      gap: v.pxtovw_sp(51);
      padding: v.pxtovw_sp(50) v.pxtovw_sp(36);
      font-family: "Unbounded", sans-serif;
      font-size: v.pxtovw_sp(26);
      font-weight: 400;
      color: v.$sub-color01;
      border-radius: v.pxtovw_sp(20);
      @include c.mq() {
        font-size: v.pxtovw_sp(38);
      }
      p {
        font-family: "Noto Sans JP", sans-serif;
        font-size: v.pxtovw_sp(16);
        font-weight: 500;
        line-height: 1.5;
        color: v.$sub-color01;
        @include c.mq() {
          font-size: v.pxtovw_sp(24);
        }
      }
      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: v.pxtovw_sp(35);
        path {
          fill: v.$sub-color01;
        }
      }
    }
  }
  .info {
    margin-bottom: v.pxtovw_sp(80);
    > p {
      font-size: v.pxtovw_sp(18);
      color: #fff;
      margin-bottom: v.pxtovw_sp(22);
      @include c.mq() {
        font-size: v.pxtovw_sp(22);
      }
      &:last-of-type {
        margin-bottom: v.pxtovw_sp(40);
      }
    }
    .tel-fax {
      @include c.flex(between, center);
      a,
      p {
        font-family: "Unbounded", sans-serif;
        font-size: v.pxtovw_sp(16);
        color: #fff;
        @include c.mq() {
          font-size: v.pxtovw_sp(23);
        }
      }
      a {
        text-decoration: underline;
      }
    }
  }
  .logomark {
    position: absolute;
    top: v.pxtovw_sp(450);
    left: v.pxtovw_sp(-57);
    width: v.pxtovw_sp(807);
    @include c.mq() {
      top: v.pxtovw_sp(619);
      left: v.pxtovw_sp(-57);
      width: v.pxtovw_sp(807);
    }
  }
}
