@use "variable" as v;
@use "common" as c;
/*************************************************
top
*************************************************/
.fv {
  position: relative;
  z-index: 2;
  .fv_text {
    position: absolute;
    top: v.pxtovw(420);
    left: 50%;
    transform: translateX(-50%);
    @include c.mq() {
      top: v.pxtovw_sp(418);
    }
    .main-copy {
      text-align: center;
      margin-bottom: v.pxtovw(80);
      @include c.mq() {
        left: v.pxtovw_sp(60);
        transform: none;
        margin-bottom: v.pxtovw_sp(70);
      }
      img {
        width: clamp(55rem, v.pxtovw(1260), 126.1rem);
        filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.14));
        @include c.mq() {
          width: v.pxtovw_sp(646);
        }
      }
    }
    .sub-copy {
      text-align: center;
      img {
        width: clamp(40rem, v.pxtovw(734), 73.4rem);
        @include c.mq() {
          width: v.pxtovw_sp(620);
          min-width: 32rem;
        }
      }
    }
  }
  .fv_topics {
    width: clamp(54rem, v.pxtovw(564), 56.4rem);
    position: absolute;
    bottom: v.pxtovw(65);
    right: v.pxtovw(80);
    @include c.mq() {
      width: v.pxtovw_sp(689);
      bottom: v.pxtovw_sp(-200);
      right: v.pxtovw_sp(30);
    }
    @include c.mq(sm-s) {
      bottom: v.pxtovw_sp(-220);
    }
    .ttl {
      font-family: "Unbounded", sans-serif;
      font-weight: 500;
      color: #fff;
      margin-bottom: 1rem;
      @include c.mq() {
        color: v.$sub-color01;
        font-size: clamp(1.5rem, v.pxtovw_sp(20), 2rem);
        font-weight: 400;
        margin-bottom: 2.4rem;
        margin-bottom: clamp(1.8rem, v.pxtovw_sp(24), 2.4rem);
      }
    }
    dl {
      background-color: v.$bg-color01;
      border-radius: 8px;
      a {
        @include c.flex(center, center);
        padding: clamp(1rem, v.pxtovw(20), 2rem) 2rem;
        @include c.mq() {
          padding: v.pxtovw_sp(33) v.pxtovw_sp(23);
        }
        dt {
          @include c.flex(start, center);
          gap: 2rem;
          flex-grow: 1;
          @include c.mq() {
            gap: v.pxtovw_sp(20);
            flex-shrink: 0;
          }
          .time {
            font-size: clamp(1.4rem, v.pxtovw(16), 1.6rem);
            font-weight: 400;
            @include c.mq() {
              font-size: clamp(1.2rem, v.pxtovw_sp(20), 2rem);
            }
          }
          .cate {
            font-size: 1.2rem;
            color: #fff;
            background-color: v.$sub-color01;
            border-radius: 100vmax;
            padding: 0.4rem 1.5rem;
            @include c.mq() {
              font-size: clamp(1.2rem, v.pxtovw_sp(20), 2rem);
              padding: 0.6rem v.pxtovw_sp(15) 0.8rem;
              line-height: 1;
            }
          }
        }
        dd {
          width: 28rem;
          flex-shrink: 0;
          font-size: clamp(1.3rem, v.pxtovw(14), 1.4rem);
          transition: all 0.3s;
          @include c.mq() {
            width: v.pxtovw_sp(320);
            font-size: clamp(1.4rem, v.pxtovw_sp(22), 2.2rem);
            flex-grow: 1;
            padding-left: 1rem;
          }
        }
        &:hover {
          dd {
            color: v.$sub-color01;
          }
        }
      }
    }
  }
}

.wrap_about {
  padding: v.pxtovw(207) 0 v.pxtovw(270);
  background-color: v.$bg-color01;
  overflow: hidden;
  @include c.mq() {
    padding: v.pxtovw_sp(317) 0 v.pxtovw_sp(91);
  }
  .inner {
    max-width: v.pxtovw(1200);
    position: relative;
    z-index: 2;
    @include c.mq() {
      max-width: v.pxtovw_sp(630);
    }
  }
  .block {
    @include c.mq() {
      flex-direction: column;
    }
  }
  .left {
    @include c.mq() {
      display: contents;
    }
    .ttl-wrap {
      margin-bottom: 4.5rem;
      @include c.mq() {
        order: 1;
        margin-bottom: v.pxtovw_sp(79);
      }
      h2 {
        text-align: left;
        margin-bottom: 1rem;
        @include c.mq() {
          margin-bottom: v.pxtovw_sp(15);
        }
      }
      .sub-ttl {
        font-size: clamp(2.6rem, v.pxtovw(32), 3.2rem);
        color: v.$txt-color;
        text-align: left;
        @include c.mq() {
          font-size: v.pxtovw_sp(32);
          margin-left: v.pxtovw_sp(35);
        }
        span {
          font-size: clamp(2rem, v.pxtovw(27), 2.7rem);
          @include c.mq() {
            font-size: v.pxtovw_sp(27);
          }
        }
      }
    }
    > p {
      line-height: 2.4;
      margin-bottom: 6.5rem;
      @include c.mq() {
        order: 3;
        font-size: clamp(1.4rem, v.pxtovw_sp(26), 2.6rem);
      }
    }
    .btn-wrap {
      @include c.mq() {
        order: 4;
        @include c.flex(center, center);
      }
    }
  }
  .img-wrap {
    position: absolute;
    top: clamp(-6rem, v.pxtovw(-93), -9.3rem);
    left: v.pxtovw(670);
    left: clamp(45rem, v.pxtovw(670), 67rem);
    display: flex;
    gap: v.pxtovw(33);
    @include c.mq() {
      position: static;
      order: 2;
      margin-bottom: v.pxtovw_sp(102);
    }
    .img-box {
      width: clamp(40rem, v.pxtovw(529), 52.9rem);
      aspect-ratio: 1/1.21;
      border-radius: v.pxtovw(192);
      overflow: hidden;
      @include c.mq() {
        width: 100%;
        aspect-ratio: 1/0.69;
        border-radius: v.pxtovw_sp(130);
      }
      img {
        height: 100%;
        object-fit: cover;
        object-position: 50% 30%;
      }
      &:last-of-type {
        @include c.mq() {
          display: none;
        }
      }
    }
  }
  > .img-box {
    position: absolute;
    &.balloon {
      width: v.pxtovw(177);
      aspect-ratio: 1/1.53;
      top: 6.8rem;
      left: 5rem;
      @include c.mq() {
        width: v.pxtovw_sp(173);
        left: auto;
        top: v.pxtovw_sp(150);
        right: v.pxtovw_sp(20);
        z-index: 3;
      }
      img {
        @include c.mq() {
          transform: scaleX(-1);
        }
      }
    }
    &.logomark {
      width: v.pxtovw(1123);
      aspect-ratio: 1/0.38;
      top: 24.4rem;
      left: -9.3rem;
      @include c.mq() {
        width: v.pxtovw_sp(807);
        top: v.pxtovw_sp(270);
      }
    }
  }
}

.wrap_ourbrand {
  padding: 11.8rem 0 12.3rem;
  background-color: v.$bg-color02;
  overflow: hidden;
  @include c.mq() {
    padding: v.pxtovw_sp(90) 0 v.pxtovw_sp(100);
  }
  .inner {
    position: relative;
    z-index: 2;
  }
  .ttl-wrap {
    margin-bottom: v.pxtovw(118);
    @include c.mq() {
      margin-bottom: v.pxtovw_sp(49);
    }
  }
  .block {
    @include c.flex(center, center);
    row-gap: v.pxtovw(29);
    column-gap: v.pxtovw(34);
    flex-wrap: wrap;
    margin-bottom: v.pxtovw(117);
    @include c.mq() {
      width: v.pxtovw_sp(514);
      margin: 0 auto v.pxtovw_sp(73);
    }
    .box {
      width: clamp(24rem, v.pxtovw(535), 53.5rem);
      aspect-ratio: 1/0.6;
      &:hover {
        .img-box {
          img {
            transform: scale(1.15);
            filter: none;
          }
        }
      }
      @include c.mq() {
        width: 100%;
        aspect-ratio: 1/1.26;
      }
      a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
      }
      .img-box {
        border-radius: v.pxtovw(99);
        overflow: hidden;
        transform: translateZ(0);
        isolation: isolate;
        @include c.mq() {
          height: 100%;
        }
        img {
          transition: transform 0.4s ease, filter 0.3s ease;
          transform: scale(1);
          filter: grayscale(100%) brightness(0.5);
          will-change: transform, filter;
          backface-visibility: hidden;
          @include c.mq() {
            filter: none;
          }
        }
      }
      .logo {
        position: absolute;
        @include c.center(true, true);
        img {
          width: 100%;
        }
      }
      &.pigsty {
        .logo {
          width: v.pxtovw(144);
        }
      }
      &.pig-az {
        .logo {
          width: v.pxtovw(133);
        }
      }
      &.vivie {
        .logo {
          width: v.pxtovw(121);
        }
      }
      &.changes {
        .logo {
          width: v.pxtovw(185);
        }
      }
    }

    .swiper {
      .box {
        border-radius: v.pxtovw_sp(180);
        overflow: hidden;
        .logo {
          width: v.pxtovw_sp(193);
          img {
            width: 100%;
          }
        }
      }
    }
    .swiper-pagination-container {
      display: none;
      @include c.mq() {
        display: block;
      }
    }
  }
  .btn-wrap {
    @include c.flex(center, center);
  }
  .builds_01,
  .builds_02 {
    position: absolute;
    z-index: 1;
  }
  .builds_01 {
    width: v.pxtovw(807);
    aspect-ratio: 1/1.51;
    left: v.pxtovw(-205);
    bottom: v.pxtovw(-47);
    @include c.mq() {
      width: v.pxtovw_sp(510);
      left: v.pxtovw_sp(-136);
      bottom: v.pxtovw_sp(260);
    }
  }
  .builds_02 {
    width: v.pxtovw(740);
    aspect-ratio: 1/1.85;
    right: v.pxtovw(-201);
    bottom: v.pxtovw(-176);
    @include c.mq() {
      width: v.pxtovw_sp(444);
      right: v.pxtovw_sp(-182);
      bottom: v.pxtovw_sp(185);
    }
  }
}

.wrap_news {
  padding: v.pxtovw(169) 0 v.pxtovw(139);
  background-color: v.$bg-color01;
  overflow: hidden;
  @include c.mq() {
    overflow: visible;
    padding: v.pxtovw_sp(140) 0 v.pxtovw_sp(100);
  }
  .inner {
    position: relative;
    z-index: 2;
    @include c.mq() {
      max-width: v.pxtovw_sp(690);
    }
  }
  .block {
    gap: v.pxtovw(237);
    @include c.mq(md) {
      gap: 5rem;
    }
    .left {
      flex-shrink: 0;
      > div {
        @include c.mq() {
          position: sticky;
          top: 6rem;
        }
      }
      .ttl-wrap {
        margin-bottom: 4.5rem;
        h2 {
          text-align: left;
          margin-bottom: 0.8rem;
        }
        .sub-ttl {
          color: #333;
          text-align: left;
        }
      }
      .pig {
        width: v.pxtovw(325);
        margin-top: 6.8rem;
        @include c.mq() {
          width: v.pxtovw_sp(205);
          margin-top: v.pxtovw_sp(47);
        }
      }
    }
    .right {
      flex-grow: 1;
      // dl {
      //   display: flex;
      //   gap: v.pxtovw(72);
      //   margin-bottom: 2.5rem;
      //   @include c.mq(md) {
      //     gap: 2rem;
      //   }
      //   @include c.mq() {
      //     flex-direction: column;
      //     margin-bottom: v.pxtovw_sp(56);
      //   }
      //   &:last-of-type {
      //     margin-bottom: 0;
      //   }
      //   dt {
      //     .img-box {
      //       width: clamp(18rem, v.pxtovw(270), 27rem);
      //       aspect-ratio: 1/0.67;
      //       border-radius: v.pxtovw(20);
      //       overflow: hidden;
      //       @include c.mq() {
      //         width: 100%;
      //         border-radius: v.pxtovw_sp(20);
      //       }
      //     }
      //   }
      //   dd {
      //     > div {
      //       @include c.flex(start, center);
      //       gap: v.pxtovw(20);
      //       margin-bottom: v.pxtovw(15);
      //       @include c.mq() {
      //         gap: v.pxtovw_sp(28);
      //         margin-bottom: v.pxtovw_sp(20);
      //       }
      //       span {
      //         font-family: "Unbounded", sans-serif;
      //         font-size: clamp(0.9rem, v.pxtovw(12), 1.2rem);
      //         @include c.mq() {
      //           font-size: v.pxtovw_sp(20);
      //           font-weight: 400;
      //         }
      //       }
      //       .time {
      //         color: #868686;
      //       }
      //       .cate {
      //         font-weight: 400;
      //         color: #fff;
      //         background-color: v.$sub-color01;
      //         border-radius: 100vmax;
      //         padding: 3px v.pxtovw(24);
      //         @include c.mq() {
      //           padding: v.pxtovw_sp(5) v.pxtovw_sp(18);
      //         }
      //       }
      //     }
      //     p {
      //       color: #000;
      //       margin-bottom: 1rem;
      //     }
      //   }
      // }
      .btn-wrap {
        @include c.mq() {
          @include c.flex(center, center);
          margin-top: v.pxtovw_sp(90);
        }
      }
    }
  }
}

.wrap_cta {
  &.wholesale {
    padding: v.pxtovw(176) 4rem v.pxtovw(140);
    background: url(images/top/cta-wholesale_img01.jpg) no-repeat center/cover;
    z-index: 2;
    @include c.mq(md) {
      background-size: 140% !important;
    }
    @include c.mq(md-s) {
      background-size: 150% !important;
    }
    @include c.mq() {
      padding: v.pxtovw_sp(178) 0 v.pxtovw_sp(218);
      background: url(images/top/cta-wholesale_img01_sp.jpg) no-repeat
        center/cover;
    }
  }
  &.recruit {
    padding: v.pxtovw(30);
    background-color: v.$bg-color02;
    @include c.mq() {
      padding: v.pxtovw_sp(47) v.pxtovw_sp(30);
    }
    .cta-inner {
      position: relative;
      padding: v.pxtovw(136) 4rem v.pxtovw(95);
      background: url(images/top/cta-recruit_img01.jpg) no-repeat center/cover;
      border-radius: v.pxtovw(22);
      z-index: 2;
      @include c.mq() {
        padding: v.pxtovw_sp(140) v.pxtovw_sp(40);
        border-radius: v.pxtovw_sp(40);
        background: url(images/top/cta-recruit_img01_sp.jpg) no-repeat top/cover;
      }
      > p {
        @include c.mq() {
          line-height: 2.4;
          margin-bottom: v.pxtovw_sp(116);
        }
      }
    }
  }
}
