@use "variable" as v;
@use "common" as c;
/*************************************************
top
*************************************************/
.fv {
  position: relative;
  margin-bottom: 2.6rem;
  &::before {
    position: absolute;
    top: 3.2rem;
    left: 4rem;
    content: "";
    width: v.pxtovw(380);
    max-width: 40rem;
    aspect-ratio: 1/1.14;
    background: url(images/logo_mark.svg) no-repeat center / contain;
    @include c.mq() {
      top: v.pxtovw_sp(380);
      left: 0;
      width: 15.3rem;
      background: url(images/logo_mark02.svg) no-repeat center / contain;
      z-index: 1;
    }
  }
  .img-box {
    @include c.mq() {
      margin-bottom: 1.2rem;
    }
  }
  .contents {
    position: absolute;
    top: v.pxtovw(167);
    left: v.pxtovw(120);
    z-index: 1;
    margin-bottom: 1.5rem;
    @include c.mq() {
      position: relative;
      top: 0;
      left: 0;
      padding-left: v.pxtovw_sp(20);
      z-index: 2;
    }
    h1 {
      font-size: clamp(3.2rem, v.pxtovw(40), 6.4rem);
      margin-bottom: 3.6rem;
      @include c.mq() {
        font-size: 3.2rem;
        margin-bottom: 2rem;
      }
      span {
        font-size: 3.2rem;
        font-size: clamp(2.4rem, v.pxtovw(32), 4rem);
        @include c.mq() {
          font-size: 2.4rem;
        }
        &.sub-copy {
          @include c.mq() {
            font-size: 2rem;
          }
        }
      }
    }
    .sub-ttl {
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
  .contact {
    width: v.pxtovw_sp(366);
    max-width: 45rem;
    display: flex;
    gap: 6px;
    margin: 0 auto;
    .tel,
    .mail {
      width: calc((100% / 2) - 3px);
      aspect-ratio: 1/0.3;
      a {
        width: 100%;
        height: 100%;
        @include c.flex(center, center);
        gap: 0.5rem;
        color: #fff;
        font-weight: 500;
        text-decoration: underline;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(49, 29, 4, 0.1);
      }
    }
    .tel {
      a {
        background-color: #eaf0f1;
        color: v.$txt-color;
        border: 1px solid #e0ddd9;
      }
    }
    .mail {
      a {
        background-color: v.$ttlTxt-color;
        border: 1px solid #826a5a;
      }
    }
  }
}

#top {
  section {
    padding-top: 10rem;
    @include c.mq() {
      padding-top: 6rem;
    }
  }
}

#event {
  @include c.mq() {
    overflow: hidden;
  }
  .block {
    align-items: center;
    gap: 7rem;
    margin-bottom: 2rem;
    @include c.mq() {
      flex-direction: column;
      align-items: flex-start;
      gap: 5rem;
    }
    .left {
      position: relative;
      text-align: center;
      flex-shrink: 0;
      @include c.mq() {
        width: 100%;
      }
      &::before {
        position: absolute;
        top: -3rem;
        left: -3.5rem;
        content: "";
        width: 43.7rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #fff;
        z-index: -1;
        @include c.mq() {
          top: -5rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      p {
        &:first-of-type {
          font-size: 6.4rem;
          line-height: 1.5;
          font-weight: 500;
          @include c.mq() {
            font-size: 4.8rem;
          }
          span {
            font-size: 3.2rem;
            @include c.mq() {
              font-size: 2.4rem;
            }
          }
        }
        &:nth-of-type(2) {
          font-size: 3.2rem;
          line-height: 1.5;
          font-weight: 500;
          color: v.$ttlTxt-color;
          @include c.mq() {
            font-size: 2.4rem;
          }
        }
        &:nth-of-type(3) {
          font-size: 6.4rem;
          line-height: 1.5;
          font-weight: 500;
          color: v.$ttlTxt-color;
          @include c.mq() {
            font-size: 4.8rem;
          }
        }
        &:last-of-type {
          display: inline-block;
          font-size: 1.4rem;
          background-color: v.$bg-color03;
          border-radius: 2px;
          padding: 2px 10px;
          @include c.mq() {
            font-size: 1.3rem;
            margin-bottom: 2rem;
          }
        }
      }
      .img-wrap {
        width: 100vw;
        // margin-left: calc(((100vw - 90%) / 2) * -1);
        gap: 1rem;
        overflow-x: scroll;
        .img-box {
          width: 28rem;
          border-radius: 3px;
          flex-shrink: 0;
        }
      }
    }
    .right {
      flex-grow: 1;
      h2 {
        font-size: 3.2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #e0ddd9;
        margin-bottom: 1rem;
        @include c.mq() {
          font-size: 2.4rem;
        }
      }
      .txt {
        margin-bottom: 2rem;
      }
      > div {
        @include c.flex(start, center);
        gap: 1.5rem;
        @include c.mq() {
          flex-direction: column;
          align-items: flex-start;
        }
      }
      .time {
        width: 29rem;
        @include c.flex(start, center);
        gap: 5px;
        background-color: v.$bg-color03;
        padding: 1rem 2.4rem;
        p {
          @include c.flex(center, center);
          gap: 4px;
          font-size: 2.4rem;
          @include c.mq() {
            font-size: 1.8rem;
          }
          span {
            @include c.flex(center, center);
            width: 2.6rem;
            aspect-ratio: 1/1;
            font-size: 1.5rem;
            font-weight: 500;
            color: #fff;
            border-radius: 3px;
            background-color: v.$ttlTxt-color;
            @include c.mq() {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
  .img-wrap {
    @include c.flex(between, center);
    .img-box {
      max-width: 39rem;
      border-radius: 3px;
      overflow: hidden;
    }
  }
}

#news {
  .inner {
    max-width: 100rem;
    .block {
      justify-content: space-between;
      @include c.mq() {
        flex-direction: column;
      }
    }
    .left {
      @include c.mq() {
        position: relative;
      }
      h2 {
        margin-top: 1rem;
        margin-bottom: 2.5rem;
      }
      .btn-wrap {
        @include c.mq() {
          position: absolute;
          top: 4rem;
          right: 0;
        }
      }
    }
    .right {
      width: 62rem;
      @include c.mq() {
        width: 100%;
      }
      dl {
        border-bottom: 1px solid #e0ddd9;
        &:first-of-type {
          border-top: 1px solid #e0ddd9;
        }
        a {
          position: relative;
          @include c.flex(start, center);
          gap: 3rem;
          padding: 2rem 0;
          transition: all 0.3s;
          @include c.mq() {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            padding: 1rem 0;
          }
          dt,
          dd {
            color: v.$subTxt-color02;
            transition: all 0.3s;
          }
          &:hover {
            dt,
            dd {
              color: v.$ttlTxt-color;
            }
            dt {
              padding-left: 2rem;
            }
          }
        }
      }
    }
  }
}

#insta {
  .inner {
    max-width: 100rem;
  }
  .content {
    width: 100%;
    aspect-ratio: 1/0.59;
    @include c.flex(center, center);
    font-size: 2rem;
    text-align: center;
    background-color: #ccc;
    @include c.mq() {
      font-size: 1.6rem;
      line-height: 1.7;
      aspect-ratio: 1/1.5;
    }
  }
}

#introduce {
  background: url(images/introduce_bg.jpg) no-repeat center/cover;
  border-radius: 3rem;
  overflow: hidden;
  margin-top: 12rem;
  padding: 11rem 0;
  @include c.mq() {
    padding: 7rem 0 6rem;
  }
  div,
  h2,
  dt,
  dd,
  p {
    color: #fff;
  }
  .sub-ttl {
    margin-bottom: 2.3rem;
  }
  h2 {
    margin-bottom: 8rem;
    @include c.mq() {
      font-size: 2.4rem;
      margin-bottom: 4.6rem;
    }
  }
  .block {
    gap: clamp(10rem, v.pxtovw(160), 16rem);
    @include c.mq() {
      flex-direction: column;
      gap: 5rem;
    }
  }
  .left {
    position: relative;
    .img-box {
      width: 83%;
      max-width: 40rem;
      margin-bottom: 2rem;
      border-radius: 3px;
      overflow: hidden;
    }
    .message {
      position: absolute;
      top: -2.4rem;
      right: -8rem;
      z-index: 1;
      @include c.mq() {
        right: 0;
      }
      p {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 2px;
        color: v.$txt-color;
        background-color: #fff;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        box-shadow: 4px 4px 0 rgba(130, 106, 90, 1);
        @include c.mq() {
          font-size: 1.6rem;
        }
      }
    }
    .name {
      @include c.mq() {
        margin-bottom: 1.3rem;
      }
      p {
        text-align: center;
        &:nth-of-type(2) {
          @include c.flex(center, center);
          gap: 1rem;
          font-size: 2rem;
          span {
            font-size: 1.4rem;
          }
        }
        &:last-of-type {
          color: #cfc1b8;
        }
      }
    }
    .btn-wrap {
      @include c.mq() {
        @include c.flex(center, center);
      }
    }
  }
  .right {
    dl {
      display: flex;
      gap: 2rem;
      padding: 2.4rem 0;
      border-bottom: 1px solid #826a5a;
      &:first-of-type {
        padding-top: 0;
      }
      &:last-of-type {
        border-bottom: none;
      }
      dt {
        font-size: 2rem;
        color: #cfc1b8;
      }
    }
    .btn-wrap {
      margin-top: 10rem;
    }
  }
}

#pediatric,
#adult {
  background: v.$bg-color02;
  .contents {
    &.head {
      .inner {
        position: relative;
        z-index: 0;
        .en-ttl {
          position: absolute;
          p {
            position: relative;
            font-size: clamp(4rem, v.pxtovw(45), 4.5rem);
            color: #fff;
            line-height: 1.2;
            @include c.mq() {
              font-size: 2.65rem;
            }
            &::before,
            &:after {
              content: "";
              width: 20rem;
              height: 17.4rem;
              border-radius: 2.4rem;
              background: v.$gradient01;
              filter: blur(70px);
              opacity: 0.5;
              position: absolute;
              z-index: -1;
              @include c.mq() {
                width: 11.8rem;
                height: 10.3rem;
                border-radius: 1.43rem;
                filter: blur(35px);
              }
            }
          }
        }
      }
      .block {
        @include c.flex(start, center);
        margin-bottom: 8rem;
        @include c.mq() {
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 14rem;
        }
        .img-box {
          width: v.pxtovw(800);
          overflow: hidden;
          @include c.mq() {
            width: calc(100% + ((100vw - 100%) / 2));
          }
        }
        .ttl-wrap {
          h2 {
            font-size: clamp(2.8rem, v.pxtovw(32), 3.2rem);
            color: v.$ttlTxt-color;
            margin-bottom: 1.5rem;
            @include c.mq() {
              font-size: 2.4rem;
              margin-bottom: 1rem;
            }
          }
          p {
            font-size: 2rem;
            @include c.mq() {
              font-size: 1.6rem;
            }
          }
        }
      }
      .txt {
        max-width: 68rem;
      }
    }
    &.menu {
      margin-bottom: 10rem;
      h3 {
        position: relative;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10rem;
        @include c.mq() {
          font-size: 1.6rem;
        }
        span {
          display: block;
          width: 5px;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: #cfc1b8;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          &:first-of-type {
            bottom: -2rem;
          }
          &:nth-of-type(2) {
            bottom: -4rem;
          }
          &:nth-of-type(3) {
            bottom: -6rem;
          }
        }
      }
      .block {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0 v.pxtovw(34);
        @include c.mq() {
          flex-direction: column;
        }
        .box {
          position: relative;
          width: calc((100% - 2rem) / 3);
          padding: v.pxtovw(40) v.pxtovw(20) v.pxtovw(100);
          border-radius: 6px;
          text-align: center;
          overflow: hidden;
          z-index: 1;
          @include c.mq() {
            width: 100%;
            max-width: 60rem;
            margin: 0 auto;
            padding: clamp(3rem, v.pxtovw_sp(30), 3rem) v.pxtovw_sp(20)
              clamp(10rem, v.pxtovw_sp(100), 10rem);
          }
          .age {
            width: 9rem;
            border-radius: 30px;
            font-size: 1.6rem;
            font-weight: 400;
            padding: 10px 0;
            background-color: #f7f7f7;
            color: v.$txt-color;
            margin: 0 auto 1.5rem;
            span {
              font-family: "Lora", serif;
            }
          }
          .name {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 2rem;
          }
          .img-box {
            position: relative;
            width: v.pxtovw(300);
            max-width: 50rem;
            margin: 0 auto 1rem;
            border-radius: 3px;
            z-index: 2;
            @include c.mq() {
              width: 100%;
            }
          }
          p {
            position: relative;
            z-index: 2;
          }
          .btn-wrap {
            position: absolute;
            bottom: -2rem;
            right: -2rem;
          }
        }
      }
    }
    &.cases {
      position: relative;
      .inner {
        @include c.mq() {
          width: 100%;
        }
      }
      .ttl-wrap {
        text-align: center;
        .sub-ttl {
          display: inline-block;
          text-align: center;
          color: v.$ttlTxt-color;
          margin-bottom: 1rem;
        }
      }
      h3 {
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 6rem;
        @include c.mq() {
          font-size: 1.6rem;
          margin-bottom: 4rem;
        }
      }
      .top_pediatric-cases,
      .top_adult-cases {
        margin-bottom: 5rem;
        overflow: hidden;
        @include c.mq() {
          margin-left: v.pxtovw_sp(20);
        }
        .swiper-slide {
          a {
            width: 100%;
            display: block;
          }
          .img-box {
            aspect-ratio: 1/0.65;
            margin-bottom: 1rem;
            border-radius: 7px;
            background-color: #d5e2e8;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: center;
            }
          }
          .tag {
            font-size: 1.4rem;
            color: #826a5a;
            @include c.mq() {
              font-size: 1.3rem;
            }
          }
          .ttl {
            @include c.flex(start, center);
            gap: 1rem;
            p {
              font-size: 2rem;
              font-weight: 500;
              flex-grow: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              @include c.mq() {
                font-size: 1.6rem;
              }
            }
            svg {
              flex-shrink: 0;
              path {
                fill: #99928a;
              }
            }
          }
        }
        .swiper-button-prev,
        .swiper-button-next {
          width: 4.8rem;
          height: 2.8rem;
          border-radius: 30px;
          background-color: v.$ttlTxt-color;
          &::after {
            content: "";
          }
        }
        .swiper-button-prev {
          transform: rotate(180deg);
          opacity: 0.7;
          left: 5rem;
          @include c.mq() {
            left: v.pxtovw_sp(10);
          }
        }
        .swiper-button-next {
          right: 5rem;
          @include c.mq() {
            right: v.pxtovw_sp(10);
          }
        }
      }
      .btn-wrap {
        display: flex;
        justify-content: center;
      }
    }
  }
}

#pediatric {
  border-bottom-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
  padding-bottom: 11rem;
  @include c.mq() {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-bottom: 8rem;
  }
  .contents {
    &.head {
      margin-bottom: 12rem;
      @include c.mq() {
        margin-bottom: 8rem;
      }
      .inner {
        .en-ttl {
          right: 11.7rem;
          bottom: clamp(18rem, v.pxtovw(100), 10rem);
          @include c.mq() {
            right: 0;
            bottom: 24rem;
          }
          p {
            &::before {
              bottom: -2rem;
              right: 14rem;
              @include c.mq() {
                bottom: -1.5rem;
                right: 10rem;
              }
            }
            &::after {
              bottom: -8rem;
              right: -10rem;
              @include c.mq() {
                bottom: -4rem;
                right: -1rem;
              }
            }
          }
        }
      }
      .block {
        gap: 4rem;
        .img-box {
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
          margin-left: calc(((100vw - 1200px) / 2) * -1);
          @include c.mq(pc-s) {
            margin-left: calc((((100vw - 100%) / 2) + 1rem) * -1);
          }
          @include c.mq() {
            margin-left: calc(((100vw - 100%) / 2) * -1);
          }
        }
      }
    }
    &.menu {
      .block {
        .box {
          background-color: #fff;
        }
      }
    }
  }
}

#adult {
  background-color: #fff;
  padding-bottom: 14rem;
  @include c.mq() {
    padding-top: 8rem;
    padding-bottom: 30rem;
  }
  .contents {
    &.head {
      margin-bottom: 11rem;
      .inner {
        .en-ttl {
          left: 17.7rem;
          bottom: 2rem;
          bottom: clamp(0rem, v.pxtovw(20), 2rem);
          @include c.mq() {
            left: auto;
            right: 0;
            bottom: -9rem;
          }
          p {
            &::before {
              bottom: -5rem;
              left: 14rem;
              @include c.mq() {
                bottom: -1.5rem;
                left: auto;
                right: 10rem;
              }
            }
            &::after {
              bottom: -2rem;
              left: -8rem;
              @include c.mq() {
                bottom: -4rem;
                left: auto;
                right: -1rem;
              }
            }
          }
        }
      }
      .block {
        justify-content: space-between;
        flex-direction: row-reverse;
        @include c.mq() {
          flex-direction: column;
          gap: 4rem;
        }
        .img-box {
          border-top-left-radius: 30px;
          border-bottom-left-radius: 30px;
          margin-right: calc(((100vw - 100%) / 2) * -1);
          @include c.mq(pc-s) {
            margin-right: calc((((100vw - 100%) / 2) + 1rem) * -1);
          }
        }
      }
    }
    &.menu {
      @include c.mq() {
        margin-bottom: 2rem;
      }
      .block {
        .box {
          background-color: v.$bg-color02;
        }
      }
    }
    &.geka {
      margin: 0 v.pxtovw(34) 10rem;
      background: url(images/geka_bg.svg) no-repeat center/cover;
      border-radius: 6px;
      padding: 6rem 0;
      @include c.mq() {
        margin: 0 0 7rem;
      }
      .text {
        text-align: center;
        margin-bottom: 3rem;
        p {
          font-size: 2rem;
          line-height: 2.4;
          color: #fff;
          @include c.mq() {
            font-size: 1.6rem;
            line-height: 2.6;
          }
          span {
            width: 13.5rem;
            display: inline-block;
            border-radius: 3px;
            background-color: #fff;
            font-size: 2.8rem;
            font-weight: 700;
            color: v.$ttlTxt-color;
            @include c.mq() {
              font-size: 2.4rem;
              line-height: 2;
              width: 12rem;
            }
          }
          &.hukidashi {
            position: relative;
            display: inline-block;
            padding: 0 1rem;
            margin-bottom: 2rem;
            &::before {
              position: absolute;
              bottom: -1rem;
              left: 50%;
              transform: translateX(-50%);
              content: "";
              width: 100%;
              aspect-ratio: 1/0.04;
              background: url(images/hukidashi-line.svg) no-repeat
                center/contain;
            }
          }
        }
      }
      .box {
        max-width: 80rem;
        border-radius: 6px;
        background-color: #fff;
        padding: 5rem 0;
        margin: 0 auto 4rem;
        text-align: center;
        @include c.mq() {
          width: 90%;
          padding: 5rem v.pxtovw_sp(20);
          text-align: left;
        }
        .img-box {
          width: 56.5rem;
          margin: 0 auto 2rem;
          @include c.mq() {
            width: v.pxtovw_sp(230);
          }
        }
        h4 {
          font-size: 2rem;
          line-height: 1.7;
          font-weight: 500;
          text-decoration: underline;
          margin-bottom: 2rem;
          @include c.mq() {
            font-size: 1.6rem;
            letter-spacing: 0;
          }
        }
        p {
          font-size: 1.4rem;
          color: #101010;
        }
      }
      .btn-wrap {
        display: flex;
        justify-content: center;
      }
    }
  }
}

#treatment {
  position: relative;
  padding-top: 8.5rem;
  padding-bottom: 3rem;
  background-color: #fff;
  @include c.mq() {
    background-color: #f7f7f7;
    padding-top: 10rem !important;
  }
  .inner {
    max-width: 100rem;
    margin: 0;
    padding: clamp(8rem, v.pxtovw(80), 12rem) 0 clamp(6rem, v.pxtovw(60), 10rem);
    padding-left: v.pxtovw(120);
    background-color: #f7f7f7;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    @include c.mq(pc-s) {
      padding: 8rem 0 6rem;
      padding-left: 2rem;
    }
    @include c.mq() {
      width: 90%;
      max-width: 60rem;
      margin: 0 auto;
      padding-top: v.pxtovw(120);
      padding-left: 0;
      background-color: transparent;
    }
  }
  .ttl-wrap {
    .sub-ttl {
      margin-bottom: 1rem;
    }
    p {
      font-size: 2rem;
      margin-bottom: 5px;
      @include c.mq() {
        font-size: 1.6rem;
      }
    }
  }
  h2 {
    margin-bottom: 5rem;
    @include c.mq() {
      font-size: 2.4rem;
      margin-bottom: 3rem;
    }
  }
  nav {
    // width: 80%;
    // max-width: 62rem;
    width: clamp(55rem, v.pxtovw(620), 70rem);
    @include c.mq() {
      width: 100%;
    }
    dl {
      border-bottom: 1px solid #cfc1b8;
      &:first-of-type {
        border-top: 1px solid #cfc1b8;
      }
      &:last-of-type {
        border-bottom: none;
      }
      a {
        position: relative;
        @include c.flex(start, center);
        gap: 3rem;
        padding: 2.4rem 0;
        @include c.mq() {
          gap: 1.5rem;
        }
        dt {
          width: 5rem;
          img {
            width: 100%;
          }
        }
        dd {
          display: flex;
          flex-direction: column;
          font-weight: 500;
          line-height: 1.6;
          color: v.$subTxt-color02;
          span {
            font-size: clamp(2rem, v.pxtovw(24), 2.4rem);
            font-weight: 700;
            color: v.$ttlTxt-color;
            @include c.mq() {
              font-size: 2rem;
            }
          }
        }
        .arrow {
          width: 4.8rem;
          height: 2.8rem;
          border-radius: 30px;
          @include c.mq() {
            width: 3rem;
            height: 1.8rem;
            border-radius: 18px;
          }
          svg {
            width: 11px;
            height: 11px;
          }
        }
      }
    }
  }
  .img-block {
    position: absolute;
    top: 0;
    right: 0;
    @include c.mq() {
      top: -19rem;
    }
    .img-box {
      overflow: hidden;
      &:first-of-type {
        width: v.pxtovw(600);
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
        @include c.mq() {
          width: v.pxtovw_sp(280);
          border-top-left-radius: 1.5rem;
          border-bottom-left-radius: 1.5rem;
        }
      }
      &:nth-of-type(2) {
        width: 34.7rem;
        border-radius: 4rem;
        margin-top: -4rem;
        margin-left: 7rem;
        @include c.mq() {
          width: v.pxtovw_sp(180);
          border-radius: 2rem;
          margin-top: v.pxtovw_sp(-64);
          margin-left: v.pxtovw_sp(-80);
        }
      }
    }
  }
}

#strength {
  background-color: #fff;
  padding-bottom: 7rem;
  @include c.mq() {
    padding-top: 8rem;
  }
  .ttl-wrap {
    margin-bottom: 6rem;
    @include c.mq() {
      margin-bottom: 4rem;
    }
    .sub-ttl {
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 2rem;
      @include c.mq() {
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
    }
    h2 {
      @include c.mq() {
        font-size: 2.4rem;
        letter-spacing: 0.5px;
      }
    }
  }
  .box {
    @include c.flex(start, start);
    margin-bottom: 6rem;
    @include c.mq() {
      flex-direction: column-reverse;
      margin-bottom: 3rem;
    }
    .img-box {
      width: 47rem;
      flex-shrink: 0;
      border-radius: 6px;
      overflow: hidden;
      @include c.mq() {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
    .text-box {
      flex-grow: 1;
      h3 {
        font-family: "Noto Serif JP", serif;
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 1.2rem;
        border-bottom: 1px solid #e0ddd9;
        margin-bottom: 2.6rem;
        @include c.mq() {
          font-size: 1.6rem;
          letter-spacing: 0;
          padding-bottom: 1rem;
          margin-bottom: 1rem;
        }
      }
      p {
        width: 45.5rem;
        letter-spacing: 0.5px;
        @include c.mq() {
          width: 100%;
        }
      }
    }
    &.reverse {
      flex-direction: row-reverse;
      @include c.mq() {
        flex-direction: column-reverse;
      }
      h3 {
        padding-left: 8rem;
        @include c.mq() {
          padding-left: 0;
        }
      }
      p {
        margin-left: 8rem;
        line-height: 2;
        @include c.mq() {
          margin-left: 0;
        }
      }
    }
  }
}

.top_infinit-slider {
  overflow: hidden;
  background-color: #fff;
  padding-bottom: 9rem;
  @include c.mq() {
    padding-bottom: 4rem;
  }
  .swiper-wrapper {
    transition-timing-function: linear !important;
    .swiper-slide {
      .img-box {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
      }
    }
  }
}
