@use "variable" as v;
@use "common" as c;
/*************************************************
下層共通
*************************************************/
.under-head {
  position: relative;
  z-index: 2;
  .kv_ttl-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
    .en-ttl {
      font-family: "Unbounded", sans-serif;
      font-size: clamp(4rem, v.pxtovw(60), 6rem);
      color: #fff;
      margin-bottom: 1rem;
      @include c.mq() {
        font-size: v.pxtovw_sp(60);
        font-weight: 400;
      }
    }
    h1 {
      font-size: clamp(1.5rem, v.pxtovw(18), 1.8rem);
      color: #fff;
      @include c.mq() {
        font-size: clamp(1.4rem, v.pxtovw_sp(22), 2.2rem);
      }
    }
  }
}

/*************************************************
About us 私たちについて
*************************************************/
.about_philosophy {
  position: relative;
  padding: v.pxtovw(50) 0 v.pxtovw(80);
  background-color: v.$bg-color01;
  @include c.mq() {
    padding: v.pxtovw_sp(70) 0;
  }
  .inner {
    position: relative;
    z-index: 2;
  }
  .ttl-wrap {
    margin-bottom: 4rem;
    @include c.mq() {
      margin-bottom: v.pxtovw_sp(97);
    }
    h2 {
      margin-bottom: 1.5rem;
      @include c.mq() {
        margin-bottom: v.pxtovw_sp(25);
      }
    }
    p {
      font-size: clamp(2rem, v.pxtovw(30), 3rem);
      text-align: center;
      @include c.mq() {
        font-size: v.pxtovw_sp(32);
      }
      span {
        font-size: clamp(1.6rem, v.pxtovw(25), 2.5rem);
        @include c.mq() {
          font-size: v.pxtovw_sp(27);
        }
      }
    }
  }
  .block {
    gap: v.pxtovw(30);
    @include c.mq() {
      flex-direction: column-reverse;
      gap: v.pxtovw_sp(70);
    }
    .left {
      padding-left: v.pxtovw(150);
      flex-grow: 1;
      @include c.mq(pc-s) {
        // padding-left: v.pxtovw(110);
        padding-left: 0;
      }
      h3 {
        font-size: clamp(3rem, v.pxtovw(52), 5.2rem);
        line-height: 1.5;
        letter-spacing: 2px;
        color: v.$sub-color01;
        margin-bottom: 1.5rem;
        @include c.mq() {
          font-size: v.pxtovw_sp(56);
          line-height: 1.3;
        }
        span {
          font-size: clamp(2.4rem, v.pxtovw(31), 3.1rem);
          @include c.mq() {
            font-size: v.pxtovw_sp(34);
          }
        }
      }
      .sub-text {
        font-family: "classico-urw", sans-serif;
        font-size: clamp(1.7rem, v.pxtovw(22), 2.2rem);
        color: v.$sub-color01;
        margin-bottom: v.pxtovw(60);
        @include c.mq() {
          font-size: v.pxtovw_sp(22);
          margin-bottom: v.pxtovw_sp(80);
        }
      }
      .body {
        line-height: 2.2;
      }
    }
    .right {
      width: clamp(34rem, v.pxtovw(775), 77.5rem);
      flex-shrink: 0;
      @include c.mq() {
        width: 100%;
      }
    }
  }

  > .img-box {
    position: absolute;
    &.balloon {
      width: v.pxtovw(177);
      aspect-ratio: 1/1.53;
      top: 6.8rem;
      left: v.pxtovw(50);
      @include c.mq() {
        width: v.pxtovw_sp(193);
        left: auto;
        top: v.pxtovw_sp(600);
        right: v.pxtovw_sp(20);
        z-index: 3;
      }
      img {
        @include c.mq() {
          display: inline-block;
          transform: scaleX(-1);
        }
      }
    }
    &.logomark {
      width: v.pxtovw(1123);
      aspect-ratio: 1/0.38;
      top: 29rem;
      left: -9.3rem;
      @include c.mq() {
        width: v.pxtovw_sp(807);
        top: v.pxtovw_sp(40);
        left: v.pxtovw_sp(-57);
      }
    }
    &.vertical-txt {
      width: v.pxtovw(284);
      aspect-ratio: 1/0.22;
      top: v.pxtovw(318);
      right: 0;
      @include c.mq() {
        width: v.pxtovw_sp(284);
        top: v.pxtovw_sp(500);
        right: v.pxtovw_sp(-80);
        opacity: 0.8;
      }
    }
  }
}

.wrap_beautiful {
  background-image: url("images/common/bg_noise.png"),
    linear-gradient(
      to bottom,
      v.$bg-color01 0%,
      v.$bg-color01 50%,
      v.$bg-color02 50%,
      v.$bg-color02 100%
    );
  background-repeat: repeat, no-repeat;
  background-position: top, top;
  background-size: contain, cover;
  background-blend-mode: multiply, normal;
  @include c.mq() {
    background-size: cover, cover;
  }
  .container {
    position: relative;
    width: 100%;
    aspect-ratio: 1/0.42;
    border-radius: v.pxtovw(300);
    background-color: #ccc;
    z-index: 2;
    overflow: hidden;
    @include c.mq() {
      aspect-ratio: 1/1.49;
      border-radius: v.pxtovw_sp(280);
    }
    .col03 {
      display: flex;
      height: 100%;
      > .img-box {
        overflow: hidden;
        img {
          scale: 1.1 !important;
        }
      }
    }
    .col01 {
      height: 100%;
      > .img-box {
        img {
          scale: 1.22 !important;
        }
      }
    }
    .block {
      position: absolute;
      @include c.center(true, true);
      .img-box {
        width: clamp(60rem, v.pxtovw(965), 96.5rem);
        margin-bottom: 2rem;
        @include c.mq() {
          width: v.pxtovw_sp(540);
        }
      }
      .sub-ttl {
        font-family: "Unbounded", sans-serif;
        font-size: clamp(2rem, v.pxtovw(30), 3rem);
        text-align: center;
        color: #fff;
        @include c.mq() {
          display: none;
        }
      }
    }
  }
}

.pin-spacer {
  z-index: 2 !important;
}
.about_vision {
  position: relative;
  padding: v.pxtovw(105) 0 v.pxtovw(208);
  background-color: v.$bg-color02;
  z-index: 3;
  @include c.mq() {
    padding: v.pxtovw_sp(110) 0 v.pxtovw_sp(150);
  }
  .inner {
    position: relative;
    z-index: 4;
    @include c.mq() {
      max-width: v.pxtovw_sp(690);
      z-index: 2;
    }
    > p {
      font-size: clamp(1.6rem, v.pxtovw(22), 2.2rem);
      text-align: center;
      line-height: 2.2;
      margin-bottom: v.pxtovw(145);
      @include c.mq() {
        font-size: v.pxtovw_sp(26);
        letter-spacing: 1.5px;
        margin-bottom: v.pxtovw_sp(137);
      }
    }
  }
  .ttl-wrap {
    margin-bottom: 3.2rem;
    @include c.mq() {
      margin-bottom: v.pxtovw_sp(55);
    }
  }

  .content {
    position: relative;
    .circle {
      position: absolute;
      @include c.center(true, true);
      width: v.pxtovw(1000);
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: v.$sub-color02;
      opacity: 0.35;
      z-index: -1;
      @include c.mq() {
        display: none;
      }
    }
    .line-posi {
      position: absolute;
      top: v.pxtovw(-85);
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      @include c.mq() {
        top: v.pxtovw_sp(-66);
        z-index: 3;
      }
    }
    .dot-line {
      position: relative;
      width: 1px;
      height: calc(100% + (v.pxtovw(85) + v.pxtovw(280)));
      margin: 0 auto;
      background: repeating-linear-gradient(
        to bottom,
        transparent 0px,
        transparent 5px,
        #707070 5px,
        #707070 12px
      );
      @include c.mq() {
        height: calc(100% + (v.pxtovw_sp(66) + v.pxtovw_sp(200)));
        background: repeating-linear-gradient(
          to bottom,
          transparent 0px,
          transparent 3px,
          #707070 3px,
          #707070 12px
        );
        opacity: 0.5;
      }
      &::before,
      &::after {
        content: "";
        width: 1.4rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 1px solid #707070;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      &::before {
        top: -1rem;
      }
      &::after {
        bottom: -1.4rem;
      }
    }
  }
  .block_img-text {
    position: relative;
    width: clamp(57.5rem, v.pxtovw(1200), 120rem);
    @include c.flex(between, center);
    gap: v.pxtovw(154);
    margin: 0 auto v.pxtovw(75);
    @include c.mq() {
      width: v.pxtovw_sp(629);
      flex-direction: column;
      gap: v.pxtovw_sp(70);
      margin: 0 auto v.pxtovw_sp(90);
      z-index: 3;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    .img-box {
      width: clamp(26rem, v.pxtovw(550), 55rem);
      aspect-ratio: 1/0.66;
      border-radius: v.pxtovw(130);
      overflow: hidden;
      flex-shrink: 0;
      @include c.mq() {
        width: 100%;
        border-radius: v.pxtovw_sp(130);
      }
      img {
        scale: 1.25 !important;
      }
    }
    .text-box {
      flex-grow: 1;
      .ttl {
        margin-bottom: v.pxtovw(40);
        @include c.mq() {
          text-align: center;
          margin-bottom: v.pxtovw_sp(60);
        }
        .num,
        h3 {
          color: v.$sub-color01;
        }
        .num {
          font-family: "Unbounded", sans-serif;
          font-size: clamp(2.4rem, v.pxtovw(50), 5rem);
          line-height: 1.5;
          font-weight: 400;
          @include c.mq() {
            font-size: v.pxtovw_sp(50);
            margin-bottom: 1rem;
          }
        }
        h3 {
          font-size: clamp(1.8rem, v.pxtovw(25), 2.5rem);
          font-weight: 600;
          @include c.mq() {
            font-size: v.pxtovw_sp(25);
          }
          span {
            font-size: 2rem;
          }
        }
      }
      > p {
        @include c.mq() {
          line-height: 2.4;
          letter-spacing: 1.8px;
        }
      }
    }
    &.reverse {
      position: relative;
      flex-direction: row-reverse;
      @include c.mq() {
        flex-direction: column;
      }
    }
  }
  > .img-box {
    position: absolute;
    &.radio {
      width: v.pxtovw(333);
      aspect-ratio: 1/1.63;
      top: v.pxtovw(200);
      right: v.pxtovw(118);
      rotate: 19deg;
      @include c.mq() {
        width: v.pxtovw_sp(333);
        top: v.pxtovw_sp(490);
        right: v.pxtovw(-250);
        z-index: 3;
      }
    }
    &.jacket {
      width: v.pxtovw(398);
      aspect-ratio: 1/0.69;
      bottom: v.pxtovw(187);
      left: -1rem;
      rotate: -13deg;
      z-index: 3;
      @include c.mq() {
        width: v.pxtovw_sp(398);
        bottom: v.pxtovw_sp(920);
        left: v.pxtovw_sp(-150);
        z-index: 1;
      }
    }
    &.vertical-txt {
      width: v.pxtovw(200);
      aspect-ratio: 1/0.16;
      bottom: v.pxtovw(383);
      left: 0;
      z-index: 2;
      @include c.mq() {
        width: v.pxtovw_sp(190);
        left: v.pxtovw_sp(-5);
        bottom: auto;
        top: v.pxtovw_sp(370);
        z-index: 1;
        opacity: 0.8;
      }
    }
  }
}

.about_value {
  position: relative;
  padding: v.pxtovw(120) 0 v.pxtovw(210);
  background-color: v.$bg-color01;
  overflow: hidden;
  @include c.mq() {
    padding: v.pxtovw_sp(100) 0 v.pxtovw_sp(235);
  }
  .ttl-wrap {
    margin-bottom: clamp(5.5rem, v.pxtovw(55), 5.5rem);
  }
  .row-scroll {
    position: relative;
    display: flex;
    align-items: center;
    gap: v.pxtovw(26);
    z-index: 2;
    will-change: transform;
    transform: translateX(v.pxtovw(210));
    @include c.mq() {
      gap: v.pxtovw_sp(35);
      transform: translateX(v.pxtovw_sp(30));
    }
    .box {
      flex: 0 0 v.pxtovw(1500);
      flex-shrink: 0;
      @include c.flex(center, center);
      gap: v.pxtovw(259);
      width: v.pxtovw(1500);
      aspect-ratio: 1/0.43;
      border-radius: v.pxtovw(261);
      overflow: hidden;
      @include c.mq() {
        flex: 0 0 v.pxtovw_sp(688);
        @include c.flex(start, center);
        gap: v.pxtovw_sp(24);
        width: v.pxtovw_sp(688);
        flex-direction: column;
        padding: v.pxtovw_sp(140) v.pxtovw_sp(45) v.pxtovw_sp(120);
        aspect-ratio: 1/1.65;
        border-radius: v.pxtovw_sp(280);
      }
      div,
      h3,
      p {
        color: #fff;
      }
      .num {
        font-family: "Unbounded", sans-serif;
        font-size: clamp(3.2rem, v.pxtovw(50), 5rem);
        @include c.mq() {
          font-size: v.pxtovw_sp(50);
          font-weight: 400;
        }
      }
      .text {
        h3 {
          font-size: clamp(2rem, v.pxtovw(29), 2.9rem);
          margin-bottom: 2rem;
          @include c.mq() {
            font-size: v.pxtovw_sp(31);
            text-align: center;
            margin-bottom: v.pxtovw_sp(420);
          }
          span {
            font-size: clamp(1.6rem, v.pxtovw(22), 2.2rem);
            @include c.mq() {
              font-size: v.pxtovw_sp(24);
            }
          }
        }
        p {
          width: v.pxtovw(600);
          @include c.mq() {
            text-align: center;
            line-height: 2.2;
            width: 100%;
          }
        }
      }
      &.respect {
        background: url(images/about/about_value-img01.jpg) no-repeat
          center/cover;
        @include c.mq() {
          background: url(images/about/about_value-img01_sp.jpg) no-repeat
            center/cover;
        }
      }
      &.greeting {
        background: url(images/about/about_value-img02.jpg) no-repeat
          center/cover;
        @include c.mq() {
          background: url(images/about/about_value-img02_sp.jpg) no-repeat
            center/cover;
        }
      }
      &.promise {
        background: url(images/about/about_value-img03.jpg) no-repeat
          center/cover;
        @include c.mq() {
          background: url(images/about/about_value-img03_sp.jpg) no-repeat
            center/cover;
        }
      }
    }
  }

  .slider-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    margin: 40px 0;
    bottom: v.pxtovw(-20);
    @include c.mq() {
      bottom: v.pxtovw_sp(30);
    }
  }
  .slider-track {
    display: flex;
    width: max-content;
    animation: scrollSlider 40s linear infinite;
    @include c.mq() {
      animation: scrollSlider 60s linear infinite;
    }
  }
  .slider-track {
    .img-box {
      width: v.pxtovw(3100);
      margin-right: 40px;
      @include c.mq() {
        width: v.pxtovw_sp(3100);
      }
    }
  }

  @keyframes scrollSlider {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
